
<ons-modal var="modal">
    <i class="fa fa-spinner fa-spin fa-pulse" style="font-size: 28px;"></i>
    <br><br>
    Please wait ...
</ons-modal>

    <ons-page id="radio-page" ng-controller="PlaylistController" style="background: #28292a">
        <ons-toolbar class="toolbar" fixed-style="">
            <div class="center">
                <div class="navigation-bar toolbar-color">
                    <div class="navigation-bar__center">
                    <div class="button-bar segment">
                        <div class="button-bar__item" ng-click="onOnlineClick();">
                            <input type="radio" name="navi-segment-a" checked>
                            <div class="button-bar__button">Online</div>
                        </div>
                        <div class="button-bar__item" ng-click="onOfflineClick();">
                            <input type="radio" name="navi-segment-a">
                            <div class="button-bar__button">Offline</div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="left">
                <ons-toolbar-button ng-click="onProfileClick();">
                    <ons-icon icon="navicon" class="icon-color"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="right">
                <ons-toolbar-button ng-click="onNewPlaylstClick();">
                    <span class="icon-color">New</span>
                </ons-toolbar-button>
            </div>
        </ons-toolbar>
        
        <div class="wrapper" style="margin-bottom: 5px;">
            <div class="container">
                <ul class="grid-na rig columns-5">
                    <li ng-repeat="item in musicOptions">
                        <ons-button modifier="quiet" ng-click="onOptionSelect(item, $index);" style="margin: -3px 0 -10px 0;">
                            <span ng-if="$index !== 3">
                                <ons-icon icon="{{item.icon}}" class="live-color icon-action"></ons-icon><br />
                            </span>
                            <span ng-if="$index === 3">
                                <span ng-if="!isDownloading">
                                    <ons-icon icon="{{item.icon}}" class="live-color icon-action"></ons-icon><br />
                                </span>
                                <span ng-if="isDownloading">
                                    <img src="images/loading.gif" style="width: 28px; margin-bottom: -8px;" /><br />
                                </span>
                            </span>
                            <span class="classify-item" style="width: 100%; text-align: center;">{{item.desc}}</span>
                        </ons-button>
                    </li>
                </ul>
            </div>
        </div>
        
        <div ng-if="choice===1">            
            <div class="info" ng-if="playlists_online.length == 0">
                Playlist is empty.
            </div>
            <ons-list class="ons-list" ng-if="playlists_online.length > 0">
                <ons-list-item modifier="chevron" class="my_playlist-list"
                    ng-click="onPlaylistSelect(item, $index, 'online');" ng-repeat="item in playlists_online">
                    <ons-row>
                        <ons-col width="25px">
                            <div class="my_playlist-num live-color">
                                {{ $index + 1 }}.
                            </div>
                        </ons-col>
                        <ons-col width="10px">
                        </ons-col>
                        <ons-col>
                            <div class="my_playlist-title">
                                {{ item.name }}
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </div>
        <div ng-if="choice===2">
            <div class="info" ng-if="playlists_offline.length == 0">
                Offline playlist is empty.
            </div>
            <ons-list class="ons-list" ng-if="playlists_offline.length > 0">
                <ons-list-item modifier="chevron" class="my_playlist-list"
                    ng-click="onPlaylistSelect(item, $index, 'offline');" ng-repeat="item in playlists_offline">
                    <ons-row>
                        <ons-col width="25px">
                            <div class="my_playlist-num live-color">
                                {{ $index + 1 }}.
                            </div>
                        </ons-col>
                        <ons-col width="10px">
                        </ons-col>
                        <ons-col>
                            <div class="my_playlist-title">
                                {{ item.name }}
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </div>
            
    </ons-page>
    